@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

:root {
  --pk-black: rgb(23, 20, 18);
  --pk-black-secondary: rgba(23, 20, 18, 0.6);

  --pk-burgundy: rgb(73, 17, 28);
  --pk-burgundy-secondary: rgba(73, 17, 28, 0.6);

  --pk-white: rgb(242, 244, 243);
  --pk-white-secondary: rgba(242, 244, 243, 0.6);

  --pk-beige: rgb(169, 146, 125);
  --pk-beige-secondary: rgba(169, 146, 125, 0.6);
}
